<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/Saksham1800t" style="color: black;"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/saksham__agarwal__/" style="color: black;"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/saksham-agarwal-" style="color: black;"><i class="fa-brands fa-linkedin"></i></a>

        </div>
        <div f-info-brand>&copy; Destiny Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>