body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar {
    height: 4rem;
    background-color: #ebebeb;
}

.fa-compass {
    font-size: 2rem;
    margin-left: .7rem;
}

.nav-link {
    margin-left: .5rem;
    color: #222222 !important;
}

.f-info-links a {
    font-weight: lighter;
    color: #222222;
    text-decoration: none;
}

.f-info-links :hover {
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.f-info-socials i {
    margin-right: .6rem;
    font-size: 1.2rem;
}

.f-info {
    text-align: center;
    height: 7rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card Effects */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* show page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}